<div class="container">
  <div class="row">

    <nav class="nav nav-tabs">
      <li role="presentation">
        <%= link_to "首頁", restaurants_path %>
      </li>
      <li role="presentation">
        <%= link_to "最新動態", feeds_restaurants_path %>
      </li>
      <li role="presentation">
        <%= link_to "TOP10人氣餐廳", ranking_restaurants_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to "美食達人", users_path %>
      </li>
    </nav>
  </div>
  <div class="row my-user">
      <% @users.each do |user| %>
      <div class="col-sm-4 col-md-3">
        <div class="my-user-item">
          <div><%= image_tag user.image.url, class: "img-responsive img-rounded center-block" %></div>
          <div><h3><%= link_to user.name, user_path(user) %></h3></div>
          <div><%= render partial: "shared/follow", locals: {user: user} %></div>
        </div>
      </div>
      <% end %>
  </div>
</div>
