<div class="container">

  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.image.url, class: "img-responsive" %>
    </div>
    <div class="col-md-8">
      <h1><%= @user.name %></h1>
      <p><strong><%= @user.email %></strong></p>
      <p><%= @user.intro %></p>
      <%= link_to 'Edit Profile', edit_user_path, class: "btn btn-primary" if current_user == @user%>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @commented_restaurants.uniq.count %>已評論餐廳
    </div>
    <div class="panel-body">
    <% @commented_restaurants.each do |restaurant| %>
      <%= link_to(restaurant) do %>
        <div class="my-restaurant">
          <div><%= image_tag restaurant.image.url, class: "img-responsive img-rounded" %></div>
          <p><strong><%= restaurant.name %></strong></p>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
