<div class="row">
  <div class="col-md-4">
    <%= image_tag @user.image, width: '600px', class: "img-responsive center-block" if @user.image? %>
  </div>
  </div>
  <div class="col-md-8">
    <h1><%= @user.name %></h1>
    <p class="font-weight-bold"><%= @user.email %></p>
    <p><%= @user.intro %></p>
    <%= link_to 'Edit Profile', edit_user_path, class: "btn btn-primary" %>
  </div>
</div>
