<h1><%= @restaurant.name %></h1>

Opening Hours: <%= @restaurant.opening_hours %></br>
Tel: <%= @restaurant.tel %></br>
Address: <%= @restaurant.address %></br>
Description: <%= @restaurant.description %></br>
<%= image_tag @restaurant.image.url, width: '600px' if @restaurant.image? %>

</br>
<%= link_to 'Back to index', admin_restaurants_path %>
