<h1><%= @restaurant.name %></h1>

Opening Hours: <%= @restaurant.opening_hours %></br>
Tel: <%= @restaurant.opening_hours %></br>
Address: <%= @restaurant.opening_hours %></br>
Description: <%= @restaurant.opening_hours %></br>

</br>
<%= link_to 'Back to index', admin_restaurants_path %>
