<div class="container">
  <div class="row">
    <!-- Nav-tabs -->
    <nav class="nav nav-tabs">
      <li role="presentation">
        <%= link_to "首頁", restaurants_path %>
      </li>
      <li role="presentation">
        <%= link_to "最新動態", feeds_restaurants_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to "TOP10人氣餐廳", ranking_restaurants_path %>
      </li>
      <li role="presentation">
        <%= link_to "美食達人", users_path %>
      </li>
    </nav>
  </div>

  <div class="row">
    <h1>TOP10人氣餐廳</h1>
    <h4>（收藏數最高）</h4>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <% @top_restaurants.each do |restaurant| %>
        <div class="col-sm-12 my-ranking-item">
          <div class="col-sm-6 col-md-4">
            <%= image_tag restaurant.image.url, class: "img-responsive center-block" %>
          </div>
          <div class="col-sm-6 col-md-8">
            <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
            <h4 class="label label-default">收藏數：<%= restaurant.favorites_count %></h4>
            <p><%= truncate(restaurant.description, length: 160) %></p>
            <h4><%= link_to "Show", restaurant_path(restaurant), class: "btn btn-primary" %></h4>
            <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
