<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
    </div>
  </div>
  <div class="col-md-4">
    <%= @restaurant.category.name %>
    <%= image_tag @restaurant.image.url, width: '600px', class: "img-responsive center-block" %>
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li>Opening Hours: <%= @restaurant.opening_hours %></br></li>
        <li>Tel: <%= @restaurant.tel %></br></li>
        <li>Address: <%= @restaurant.address %></br></li>
      </ul>
    </div>
    <div class="col-md-8">
      Description: <%= @restaurant.description %>
    </div>
    <div class="clearfix"></div>
    <hr>
    <%= link_to 'Back to index', admin_restaurants_path %>
  </div>

  <!-- Show Existing Comments -->
  <% @restaurant.comments.each do |comment| %>
  <div>
    <h4><%= comment.user.email.split('@').first %></h4>
    <p><%= simple_format comment.content %></p>
    <p class="text-muted">
      <em><%= time_ago_in_words(comment.created_at) %></em>
      <% if current_user.admin? %>
        <%= link_to 'Delete', restaurant_comment_path(@restaurant, comment), method: :delete %>
      <% end %>
    </p>

  </div>
  <hr>
  <% end %>

  <!-- Add Comments by Users -->
  <div class="row">
    <% if @comment.errors.any? %>
      <h4>We have some errors here !</h4>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <hr>
    <% end %>
    <%= form_for [@restaurant, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-default" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
